In [ ]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/automobile.csv")
df.head(10)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?

In [ ]:
df.info()

In [ ]:
df.describe()

,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,10.142537,25.219512,30.751220
std,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,3.972040,6.542142,6.886443
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,8.600000,19.000000,25.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,9.400000,30.000000,34.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

In [ ]:
df[df.isin(['?'])].count()

In [ ]:
df['normalized-losses'] =df['normalized-losses'].replace('?','nan')

In [ ]:
df['num-of-doors'] =df['num-of-doors'].replace('?','nan')

In [ ]:
df1= df['normalized-losses'] =df['normalized-losses'].loc[df['normalized-losses']=='?']

In [ ]:
df1= df['normalized-losses'] =df['normalized-losses'].loc[df['normalized-losses']!='?']

In [ ]:
df1.shape

In [ ]:
df.head()

In [ ]:
df['price'].loc[df['price'].str.isnumeric()== False]

9      ?
44     ?
45     ?
129    ?
Name: price, dtype: object

In [ ]:
DF1 = df['price'].loc[df['price']!='?']
DF1.head()

0    13495
1    16500
2    16500
3    13950
4    17450
Name: price, dtype: object

In [ ]:
pmean = DF1.astype(str).astype(int).mean()
pmean

13207.129353233831

In [ ]:
df['price']=df['price'].replace('?',pmean).astype(int)

In [ ]:
df[df['price'].isin(['?'])]

In [ ]:
df['horsepower'].loc[df['horsepower'].str.isnumeric()== False]

NameError: ignored

In [ ]:
DF2 = df['horsepower'].loc[df['horsepower']!='?']
DF2.head()

0    111
1    111
2    154
3    102
4    115
Name: horsepower, dtype: object

In [ ]:
pmean1 = DF2.astype('int').mean()
pmean1

104.25615763546799

In [ ]:
df['horsepower']=df['horsepower'].replace('?',pmean1).astype(int)

In [ ]:
df['peak-rpm'] =pd.to_numeric(df['peak-rpm'],errors ='coerce')

In [ ]:
df['stroke'] =pd.to_numeric(df['stroke'],errors ='coerce')

In [ ]:
df.info()

In [ ]:
import matplotlib.pyplot as plt
# for make column display bar plot
df.make.value_counts().nlargest(10).plot.bar()
plt.show()

In [ ]:
#risk _ratinf
df.symboling.plot.hist()
plt.show()

In [ ]:
#histrogram of normalized - losses
df['normalized-losses'].plot.hist()
plt.show()

In [ ]:
df.horsepower.plot.hist()
plt.show()

In [ ]:
df['curb-weight'].plot.hist()
plt.show()

In [ ]:
# bar plot - drive wheels,number of doors

In [ ]:
df['drive-wheels'].value_counts().nlargest(10).plot.bar()
plt.show()

In [ ]:
df['drive-wheels']=df['drive-wheels'].replace('4wd','fwd')

In [ ]:
df['drive-wheels'].   .plot.hist()
plt.show()

In [ ]:
import seaborn as sns
df = sns.("make")
sns.boxplot(x=df["make"])

[link text](https:// [link text](https://))